@import "~bootstrap/scss/bootstrap.scss";
body {
  background: green;
}
.card {
  display: inline-block;
  margin: auto;
  height: 400px;
  width: 275px;
  background: white;
  border-radius: 15px;
  margin-top: 20px;
  padding: 15px;
  padding-top: 120px;
  position: relative;
  font-size: 75px;
  &:before {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 75px;
    line-height: 1;
  }
  &:after {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 75px;
    line-height: 1;
  }
  &.heart::before,
  &.heart::after {
    content: "\2665";
    color: red;
  }
  &.spade::before,
  &.spade::after {
    content: "\2660";
  }
  &.club::before,
  &.club::after {
    content: "\2663";
  }
  &.diamond::before,
  &.diamond::after {
    content: "\2666";
    color: red;
  }
}
